* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: rgb(215, 209, 162);
}

h1 {
  background-color: rgb(44, 43, 36);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
  width: 100vw;
  height: 80px;
  padding-top: 20px;
  font-family: 'Aboreto', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 43, 36);
  width: 310px;
  height: 450px;
  border-radius: 25px;
  align-items: center;
  box-shadow: 0 8px 16px 0;
}

.screen {
  background-color:rgb(60, 59, 50);
  width: 260px;
  height: 90px;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  justify-content: space-around;
  gap: 6px;
}

button {
  background-color: rgb(60, 59, 50);
  color: white;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  font-weight: 700;
  transition-duration: .3s;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0);
}

.row {
  display: flex;
  gap: 6px;
}

.wide {
  width: 120px;
}

.window {
  text-align: end;
  margin: 15px;
  color: rgb(247, 163, 68);
  font-weight: 500;
  font-size: 20px;
  overflow: hidden;
  height: 23px;
}

.answer {
  text-align: end;
  margin: 15px;
  margin-top: -6px;
  font-weight: 700;
  font-size: 25px;
  color: rgb(255, 255, 255);
  overflow: hidden;
  height: 28px;
}

button:active {
  transform: translateY(4px);
}

.num:hover {
  background-color: rgb(247, 163, 68);
  border: 2px solid black;
}

.op:hover {
  background-color: rgb(65, 202, 186);
  border: 2px solid black;
}

.equal:hover {
  background-color: rgb(61, 150, 70);
  border: 2px solid black;
}

.wide:hover {
  background-color: rgb(174, 97, 90);
  border: 2px solid black;
}